{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block app_link %}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.13.0/Sortable.min.js"></script>
{% endblock %}

{% block app_content %}
    <div class="row">
        <div class="col-md-8 col-lg-7">
            <div class="mt-5 d-inline-flex align-items-end flex-wrap">
                <div class="row w-100">
                    <div class="col d-inline-flex align-items-center">
                        <a class="btn btn-outline-success me-4"
                           href="{{ url_for('queue.queue', queue_id=queue.id) }}">
                            <i class="bi bi-arrow-left"></i>
                        </a>
                        <div class="d-flex align-items-center me-4">
                            <h1 class="mb-0">
                                {{ queue.name }}

                                <span class="h4 text-info align-self-start">
                            <i class="bi bi-lock-fill for-lock"
                                    {% if queue.is_open %} style="display:none" {% endif %}></i>
                            <i class="bi bi-unlock-fill for-unlock"
                                    {% if not queue.is_open %} style="display:none" {% endif %}></i>
                        </span>
                            </h1>
                        </div>
                    </div>
                </div>

                <div class="btn-group mt-3">
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#guide" aria-expanded="false"
                            aria-controls="guide">
                        <i class="bi bi-info-lg"></i>
                    </button>
                    <button class="btn btn-danger" id="clear-btn">
                        <i class="bi bi-eraser-fill"></i>
                    </button>

                    <button id="close-btn"
                            class="for-unlock btn btn-primary"
                            {% if not queue.is_open %} style="display:none" {% endif %}>
                        <i class="bi bi-lock-fill"></i>
                    </button>
                    <button id="open-btn"
                            class="for-lock btn btn-primary"
                            {% if queue.is_open %} style="display:none" {% endif %}>
                        <i class="bi bi-unlock-fill"></i>
                    </button>

                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#tasks-div" aria-expanded="false"
                            aria-controls="tasks-div">
                        <i class="bi bi-calendar-check-fill"></i>
                    </button>

                    {% if current_user %}
                        <a href="{{ url_for('queue.spam_queue', queue_id = queue.id) }}"
                           class="btn btn-primary">
                            <i class="bi bi-lightning-fill"></i>
                        </a>
                    {% endif %}

                </div>
            </div>
            <div class="collapse" id="guide">
                <div class="m-3 d-flex flex-column">
                    <span><i class="bi bi-eraser-fill text-danger"></i> - {{ _('Clear') }}</span>
                    <span><i class="bi bi-lock-fill text-primary"></i> - {{ _('Close') }}</span>
                    <span><i class="bi bi-unlock-fill text-primary"></i> - {{ _('Open') }}</span>
                    <span><i class="bi bi-calendar-check-fill text-primary"></i> - {{ _('Tasks') }}</span>
                    <span><i class="bi bi-lightning-fill text-primary"></i> - {{ _('Spam') }}</span>
                </div>
            </div>

            <div class="collapse" id="tasks-div">
                <div class="mt-3 ps-3 p-2 border border-2 rounded-2 d-flex flex-column">
                    <div class="form">
                        <style>
                            @media only screen and (max-width: 480px) {
                                .flex-for-form {
                                    flex-direction: column;
                                }
                            }
                        </style>
                        <div class="d-flex flex-for-form align-items-start flex-wrap">
                            <label for="task-action-input" class="me-2 m-1">
                                <select id="task-action-input"
                                        class="form-control">
                                    <option value="close">{{ _('Close') }}</option>
                                    <option value="open">{{ _('Open') }}</option>
                                    <option value="clear">{{ _('Clear') }}</option>
                                </select>
                            </label>

                            <label for="task-date-input" class="me-2 m-1">
                                <input id="task-date-input" type="datetime-local"
                                       class="form-control"/>
                            </label>

                            <button class="btn btn-primary h-25 m-1" id="add-task-btn">
                                {{ _('Add task') }}
                            </button>
                        </div>
                    </div>
                    <table class="table mt-3 p-1 table-bordered">
                        <tbody id="tasks-table">
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="border mt-4 rounded-1">
                <table class="table mb-0 table-bordered">
                    <tbody id="queue-table">
                    {% for user_queue in queue.list() %}
                        <tr id="queue-item-{{ user_queue.member_id }}" class="queue-item"
                            data-user="{{ user_queue.member_id }}">
                            <td class="drag-handle fit" role="button">
                                <i class="bi bi-arrows-move"></i>
                            </td>
                            <td class="">
                                {{ user_queue.name_printed }}
                            </td>
                            <td class="fit">
                                {{ moment(user_queue.arrive_time).format('L HH:mm:ss') }}
                            </td>
                            <td role="button" class="fit" id="delete-btn">
                                <i class="bi bi-x-circle text-danger"></i>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}

{% block app_scripts %}
    <script type="text/javascript">
        queue_id = '{{ queue.id }}';
        csrf_token = '{{ csrf_token() }}'


        function UpdateServer() {
            const queueItems = document.getElementById('queue-table').querySelectorAll('.queue-item');
            const new_order = [];

            queueItems.forEach(item => {
                const id = item.getAttribute('data-user');
                new_order.push(id);
            });

            fetch('{{ url_for('queue.new_order') }}', {
                method: 'POST',
                headers: {
                    "X-CSRFToken": csrf_token,
                },
                body: JSON.stringify({
                    queue_id: queue_id,
                    new_order: new_order,
                })
            })
                .then((response) => {
                    if (response.ok)
                        return response.json()
                    throw new Error()
                })
                .then((result) => {
                })
                .catch((error) => {
                    console.log(error)
                })
        }

        sortable = Sortable.create(document.querySelector('#queue-table'), {
            animation: 150,
            handle: '.drag-handle',
            onEnd: UpdateServer
        });

        document.querySelectorAll("#delete-btn").forEach((elem) => {
            elem.addEventListener('click', () => {
                elem.parentElement.style.transition = 'opacity 0.3s ease-in-out';
                elem.parentElement.style.opacity = '0';
                setTimeout(() => {
                    elem.parentElement.remove();
                    UpdateServer()
                }, 300);
            })
        })

        clear_btn = document.querySelector('#clear-btn')
        clear_btn.addEventListener('click', () => {
            const queueItems = document.getElementById('queue-table').querySelectorAll('.queue-item');
            queueItems.forEach((elem) => {
                elem.style.transition = 'opacity 0.3s ease-in-out';
                elem.style.opacity = 0
                setTimeout(() => {
                    elem.remove();
                }, 300);
            })
            setTimeout(() => {
                UpdateServer()
            }, 350);
        })

        open_btn = document.getElementById('open-btn')
        close_btn = document.getElementById('close-btn')

        is_open = ('{{ queue.is_open }}' === 'True');
        for_lock_items = document.querySelectorAll('.for-lock')
        for_unlock_items = document.querySelectorAll('.for-unlock')

        open_btn.addEventListener('click', () => ToggleQueue())
        close_btn.addEventListener('click', () => ToggleQueue())

        function ToggleQueue() {
            function HideItems(items) {
                items.forEach((elem) => {
                    elem.style.display = 'none'
                })
            }

            function ShowItems(items) {
                items.forEach((elem) => {
                    elem.style.display = 'inline-block'
                })
            }

            function ToggleItems() {
                if (is_open) {
                    HideItems(for_lock_items)
                    ShowItems(for_unlock_items)
                } else {
                    HideItems(for_unlock_items)
                    ShowItems(for_lock_items)
                }
            }

            let url;
            if (is_open) {
                url = '{{ url_for('queue.close_queue', queue_id=queue.id) }}'
            } else {
                url = '{{ url_for('queue.open_queue', queue_id=queue.id) }}'
            }

            fetch(url, {
                method: 'POST',
                headers: {
                    "X-CSRFToken": csrf_token,
                },
                body: JSON.stringify({
                    queue_id: queue_id
                })
            })
                .then((response) => {
                    if (response.ok)
                        return response.json()
                    throw new Error()
                })
                .then((result) => {
                    is_open = !(is_open)
                    ToggleItems()
                })
                .catch((error) => {
                    console.log(error)
                })
        }

        add_task_btn = document.getElementById('add-task-btn')

        task_table = document.getElementById('tasks-table')

        function UpdateTasks() {
            fetch("{{ url_for('queue.get_queue_tasks', queue_id=queue.id) }}", {
                method: 'GET',
                headers: {
                    "X-CSRFToken": csrf_token,
                },
            })
                .then((response) => {
                    if (response.ok)
                        return response.json()
                    throw new Error()
                })
                .then((result) => {
                    task_table.innerHTML = ''
                    result.forEach((task) => {
                        let task_tr = document.createElement('tr')

                        let task_action = document.createElement('td')
                        task_action.className = "fit text-center"
                        task_action.innerText = task.task_action

                        switch (task.task_action) {
                            case 'close':
                                task_action.innerHTML = '<i class="bi bi-lock-fill text-primary"></i>'
                                break
                            case 'open':
                                task_action.innerHTML = '<i class="bi bi-unlock-fill text-primary"></i>'
                                break
                            case 'clear':
                                task_action.innerHTML = '<i class="bi bi-eraser-fill text-danger"></i>'
                        }

                        let task_time = document.createElement('td')
                        task_time.innerText = moment(task.task_time).format('L HH:mm (ddd)')

                        let task_remove = document.createElement('td')
                        task_remove.className = 'fit text-center'
                        task_remove.setAttribute('role', 'button')
                        task_remove.innerHTML = '<i class="bi-x-circle text-danger"></i>'

                        task_remove.addEventListener('click', (elem) => {
                            fetch('{{ url_for('queue.delete_queue_task') }}', {
                                method: 'POST',
                                headers: {
                                    "X-CSRFToken": csrf_token,
                                },
                                body: JSON.stringify({
                                    task_id: task.task_id,
                                })
                            })
                                .then((response) => {
                                    if (response.ok)
                                        return response.json()
                                    throw new Error()
                                })
                                .then((result) => {
                                    task_tr.remove()
                                })
                                .catch((error) => {
                                    console.log(error)
                                })
                        })

                        task_tr.appendChild(task_action)
                        task_tr.appendChild(task_time)
                        task_tr.appendChild(task_remove)

                        task_table.appendChild(task_tr)
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
        }

        UpdateTasks()

        add_task_btn.addEventListener('click', () => {

            fetch("{{ url_for('queue.add_task') }}", {
                method: 'POST',
                headers: {
                    "X-CSRFToken": csrf_token,
                },
                body: JSON.stringify({
                    queue_id: queue_id,
                    task_action: document.getElementById('task-action-input').value,
                    task_time: moment(document.getElementById('task-date-input').value)
                        .utc().format("YYYY-MM-DD HH:mm:ss")
                })
            })
                .then((response) => {
                    if (response.ok)
                        return response.json()
                    throw new Error()
                })
                .then((result) => {
                    UpdateTasks()
                })
                .catch((error) => {
                    console.log(error)
                })
        })

    </script>

{% endblock %}