{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block app_content %}
    <div class="row">
        <div class="col-md-8 col-lg-6">
            <div class="d-flex align-items-center flex-wrap mt-5 me-5">
                <h1 class="mb-0 text-nowrap me-5">
                    {{ queue.name }}
                    <span class="h3 text-info align-self-start">
                    {% if queue.is_open %}
                        <i class="bi bi-unlock-fill"></i>
                    {% else %}
                        <i class="bi bi-lock-fill"></i>
                        </span>
                    {% endif %}
                </h1>

                <div class="btn-group mt-2">
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#share_features" aria-expanded="false"
                            aria-controls="share_features">
                        <i class="bi bi-share"></i>
                    </button>

                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#info" aria-expanded="false"
                            aria-controls="info">
                        <i class="bi bi-info-lg"></i>
                    </button>

                    {% if current_user == queue.admin %}
                        <a class="btn btn-outline-success"
                           href="{{ url_for('queue.manage_queue', queue_id = queue.id) }}">
                            <i class="bi bi-wrench"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="mt-3 d-flex flex-column align-items-start flex-wrap">

                <div class="collapse" id="share_features">
                    <div class="p-3 border rounded-2 mb-3">
                        <div class="h4">ID: {{ queue.id }}</div>

                        <a id="copy-link" class="ms align-self-center h-auto"
                           href="{{ url_for('queue.queue', queue_id=queue.id, _external=True) }}">
                            {{ url_for('queue.queue', queue_id=queue.id, _external=True) }}
                        </a>
                        <div class="mt-3 w-100">
                            <img class="img-fluid"
                                 src="{{ qrcode(url_for('queue.queue', queue_id=queue.id, _external=True), border=2, error_correction='H') }}"
                                 alt="qrcode1">
                        </div>
                    </div>
                </div>

                <div class="collapse" id="info">
                    <div class="p-3 border rounded-2 mb-3">
                        <table class="table table-bordered m-0">
                            {% if queue.next_clearing() %}
                                <tr>
                                    <td>{{ _('Next clearing') }}</td>
                                    <td>{{ moment(queue.next_clearing().execute_time).calendar() }}</td>
                                </tr>
                            {% endif %}
                            {% if queue.next_closing() %}
                                <tr>
                                    <td>{{ _('Next closing') }}</td>
                                    <td>{{ moment(queue.next_closing().execute_time).calendar() }}</td>
                                </tr>
                            {% endif %}
                            {% if queue.next_opening() %}
                                <tr>
                                    <td>{{ _('Next opening') }}</td>
                                    <td>{{ moment(queue.next_opening().execute_time).calendar() }}</td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>

                {% if not queue.contains(watching_user) %}
                    {% if queue.is_open %}
                        <div class="mt-1 mb-2">
                            <form method="post" action="#" class="row justify-content-start">

                                {{ join_queue_form.hidden_tag() }}
                                <div class="col-md-7">
                                    {{ join_queue_form.name_to_print(class="form-control",
                             value=watching_user.name_to_print,
                             placeholder="Enter your name") }}
                                </div>
                                <div class="col-6 col-md-3 mt-md-0 mt-2">
                                    {{ join_queue_form.submit(class="btn btn-primary", type="submit") }}
                                </div>
                            </form>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="mt-1">
                        <a href="{{ url_for('queue.leave_queue', queue_id=queue.id) }}">
                            <button class="btn btn-primary">
                                {{ _('Leave') }}
                            </button>
                        </a>
                    </div>
                {% endif %}

                <table class="table mb-0 table-bordered mt-3 rounded-2">
                    {% for user_queue in queue.list() %}
                        <tr>
                            <td{% if user_queue.member_id == watching_user.id %}
                                class="table-active"
                            {% endif %}>
                                {{ user_queue.name_printed }}
                            </td>
                            <td class="fit">
                                {{ moment(user_queue.arrive_time).format('L HH:mm:ss') }}
                            </td>
                        </tr>

                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block app_scripts %}
    <script type="text/javascript">
    </script>
{% endblock %}