{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block app_content %}
    <div class="row">
        <div class="col-md-8 col-lg-6">
            <div class="d-flex align-items-center mt-5 me-5">
                <h1 class="mb-0">{{ queue.name }}</h1>

                {% if current_user == queue.admin %}
                    <a class="btn ms-5 btn-outline-success"
                       href="{{ url_for('queue.manage_queue', queue_id = queue.id) }}">
                        <i class="bi bi-wrench"></i>
                    </a>
                {% endif %}
            </div>
            <div class="mt-3 d-flex flex-column align-items-start flex-wrap">
                <div>
                    <button class="btn btn-outline-secondary" id="copy-btn"
                            data-bs-toggle="popover" data-bs-content="{{ _('Link has been copied') }}">
                        {{ _('Link') }} <i class="bi bi-clipboard"></i>
                    </button>

                    <a id="copy-link" class="ms-4 align-self-center h-auto"
                       href="{{ url_for('queue.queue', queue_id=queue.id, _external=True) }}">
                        {{ url_for('queue.queue', queue_id=queue.id, _external=True) }}
                    </a>
                </div>

                {% if not queue.contains(watching_user) %}
                    <div class="mt-4 mb-2">
                        <form method="post" action="#" class="row justify-content-start">

                            {{ join_queue_form.hidden_tag() }}
                            <div class="col-md-7">
                                {{ join_queue_form.name_to_print(class="form-control",
                             value=watching_user.name_to_print,
                             placeholder="Enter your name") }}
                            </div>
                            <div class="col-6 col-md-3 mt-md-0 mt-2">
                                {{ join_queue_form.submit(class="btn w-100 btn-primary", type="submit") }}
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="mt-3">
                        <a href="{{ url_for('queue.leave_queue', queue_id=queue.id) }}">
                            <button class="btn btn-primary">
                                {{ _('Leave') }}
                            </button>
                        </a>
                    </div>
                {% endif %}

                <table class="table mb-0 table-bordered mt-3 rounded-2">
                    {% for user_queue in queue.list() %}
                        <tr>
                            <td{% if user_queue.member_id == watching_user.id %}
                                class="table-active"
                            {% endif %}>
                                {{ user_queue.name_printed }}
                            </td>
                            <td class="fit">
                                {{ moment(user_queue.arrive_time).format('L HH:mm:ss') }}
                            </td>
                        </tr>

                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block app_scripts %}
    <script type="text/javascript">

        function selectText(nodeId) {
            const node = document.getElementById(nodeId);

            if (document.body.createTextRange) {
                const range = document.body.createTextRange();
                range.moveToElementText(node);
                range.select();
            } else if (window.getSelection) {
                const selection = window.getSelection();
                const range = document.createRange();
                range.selectNodeContents(node);
                selection.removeAllRanges();
                selection.addRange(range);
            } else {
                console.warn("Could not select text in node: Unsupported browser.");
            }
        }

        const copy_btn = document.querySelector('#copy-btn');
        copy_btn.addEventListener('click', () => {
            selectText('copy-link')
            navigator.clipboard.writeText(
                '{{ url_for('queue.queue', queue_id=queue.id, _external=True) }}'
            )
        });

    </script>
{% endblock %}