<!DOCTYPE html>
{% from 'bootstrap5/nav.html' import render_nav_item %}

<html lang="en" data-bs-theme="dark">
<head>
    <title>
        {% if title %}
            {{ title }} - Microblog
        {% else %}
            Welcome to Microblog
        {% endif %}
    </title>
    {{ bootstrap.load_css() }}
</head>

<body>
<nav class="navbar navbar-default">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">Microblog</a>

    <button type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar_nav"
            aria-controls="navbar_nav"
            class="navbar-toggler"
            aria-expanded="false"
            aria-label="Toggle navigation">
        Menu
    </button>

    <div class="collapse navbar-collapse" id="navbar_nav">
        <ul class="navbar-nav">
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('main.users') }}">Users</a></li>
        </ul>
        <ul class="navbar-nav navbar-right">
            {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('main.login') }}">Login</a></li>
            {% else %}
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</nav>


<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% block app_content %}{% endblock %}
</div>

{{ bootstrap.load_js() }}
</body>
</html>