<!DOCTYPE html>
{% from 'bootstrap5/nav.html' import render_nav_item %}

<html data-bs-theme="light">
<script type="text/javascript" src="{{ url_for('static', filename= 'js/load_theme.js') }}">
</script>

<head>
    <title>
        {% if title %}
            {{ title }} - QueueHere
        {% else %}
            QueueHere
        {% endif %}
    </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block app_link %}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-sm text-bg-primary nav-pills">
    <div class="container-fluid">
        <a href="{{ url_for('main.index') }}" class="navbar-brand text-bg-primary d-flex align-items-end">
            <img src="{{ url_for('static', filename='favicon.ico') }}"
                 style="height: 1.5em; margin:0 -0.25em 0 -0.25em"/>ueueHere
        </a>

        <button class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#nav"
                aria-controls="nav"
                aria-label="Expand">
            <span class="navbar-toggler-icon text-bg-primary"></span>
        </button>

        <div class="collapse navbar-collapse align-items-center" id="nav">
            <ul class="navbar-nav w-100">
                <li class="nav-item">
                    <a href="{{ url_for('main.index') }}"
                       class="nav-link text-bg-primary">{{ _('Find') }}</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{{ url_for('queue.create_queue') }}"
                           class="nav-link text-bg-primary">{{ _('New') }}</a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ url_for('queue.my_queues') }}"
                           class="nav-link text-bg-primary">{{ _('Queues') }}</a>
                    </li>

                    <li class="nav-item ms-sm-auto">
                        <a href="{{ url_for('auth.logout') }}" class="nav-link text-bg-primary">{{ _('Logout') }}</a>
                    </li>

                    <button class="btn text-bg-primary d-flex justify-content-start" id="theme-btn">
                        <i class="bi bi-sun-fill h5 m-0 p-0"></i>
                    </button>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('auth.login') }}" class="nav-link text-bg-primary">{{ _('Login') }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('auth.register') }}"
                           class="nav-link text-bg-primary">{{ _('Register') }}</a>
                    </li>
                    <button class="btn text-bg-primary d-flex justify-content-start ms-auto" id="theme-btn">
                        <i class="bi bi-sun-fill h5 m-0 p-0"></i>
                    </button>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


<div class="container d-flex flex-column mb-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    {% for category, message in messages %}
                        <div class="alert text-bg-{{ category }} border mt-2 alert-dismissible fade show"
                             role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-4"></div>
            </div>
        {% endif %}
    {% endwith %}

    {% block app_content %}{% endblock %}

</div>

<div id="version-popup" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="bi bi-arrow-repeat"></i>
                    {{ _('I updated the site a little bit') }}
                </h5>
            </div>
            <div class="modal-body">
                <p>
                    <i class="bi bi-check-circle"></i>

                    {{ _('Now you can log into the account normally and it will not log out for a long time, if you forget your password, you can reset it') }}
                </p>
                <p>
                    <i class="bi bi-list-task"></i>
                    {{ _('Which I advise you to do, because it will automatically fill in the name when you enter the queue, as well as always be at hand will be a convenient list of your queues') }}
                </p>
                <p>
                    <i class="bi bi-heart-fill"></i>
                    {{ _('And now you can support me morally by logging into your account and clicking on the heart at the bottom of the site') }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" id="update-ok-btn" class="btn btn-primary" data-bs-dismiss="modal">Понял!</button>
            </div>
        </div>
    </div>
</div>


<div class="mt-auto navbar navbar-expand-sm bg-opacity-50 text-bg-primary nav-pills shadow p-0 w-100">
    <div class="w-100 m-0">
        <div class="row w-100 m-0 p-2">
            <div class="col ms-auto text-start p-0">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#statsCollapse" aria-expanded="false" aria-controls="statsCollapse">
                    {{ _('Stats') }}
                </button>
            </div>

            <div class="col text-end p-0">
                <a href="#" class="btn btn-primary" id="like-btn">
                    {% if current_user.like_given %} <i class="bi bi-heart-fill"></i>
                    {% else %} <i class="bi bi-heart"></i>
                    {% endif %}
                    <span>{{ Stats.get_count_of(StatsEnum.likes_given) }}</span>
                </a>
                <a href="https://github.com/Vaniog/QueueHere" class="btn btn-dark bg-dark bg-opacity-75">
                    <i class="bi bi-star text-warning"></i>
                    <i class="bi bi-github"></i>
                </a>
            </div>
            <div class="col-12 p-0">
                <div class="collapse mt-1" id="statsCollapse">
                    <div class="d-flex flex-column m-0">
                        <p class="mb-0">{{ _('Users') }}: {{ Stats.get_count_of(StatsEnum.users_registered) }}</p>
                        <p class="mb-0">{{ _('Queues') }}: {{ Stats.get_count_of(StatsEnum.queues_created) }}</p>
                        <p class="mb-0">{{ _('Queues entries') }}: {{ Stats.get_count_of(StatsEnum.queues_entries) }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

{{ moment.include_moment() }}
{{ moment.lang(get_locale()) }}
{% block app_scripts %}{% endblock %}

<script type="text/javascript" src="{{ url_for('static', filename= 'js/base.js') }}">
</script>

<script type="text/javascript">
    csrf_token = '{{ csrf_token() }}'

    like_btn = document.getElementById('like-btn')

    const my_popover = new bootstrap.Popover(document.getElementById('like-btn'), {
        content: "{{ _('Login and confirm you account') }}",
        placement: 'top',
        trigger: 'manual'
    });

    var anim_id = 1
    like_btn.addEventListener('click', () => {
        fetch("{{ url_for('main.give_like') }}", {
            method: 'POST',
            headers: {
                "X-CSRFToken": csrf_token,
            },
            body: JSON.stringify({})
        })
            .then((response) => {
                if (response.ok)
                    return response.json()
                throw new Error()
            })
            .then((result) => {
                console.log(like_btn.querySelector('i').classList)
                like_btn.querySelector('i').classList.remove('bi-heart')
                like_btn.querySelector('i').classList.add('bi-heart-fill')
                like_btn.querySelector('span').innerText = result["likes_amount"]
            })
            .catch((error) => {
                my_popover.show()
                anim_id = Math.random()
                let anim_id_cur = anim_id
                setTimeout(() => {
                    if (anim_id === anim_id_cur)
                        my_popover.hide()
                }, 2000)
                console.log(error)
            })
    })
</script>
</body>
</html>