{% extends "base.html" %}
{% block content %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about_me.label }}
            {{ form.about_me(size=32) }}
            {% for error in form.about_me.errors %}
                <span style="color: red">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit }}
        </p>
    </form>
{% endblock %}