{% extends "base.html" %}

{% block content %}
    <table>
        {% for user in users %}
            <tr>
                <td>
                    <img src="{{ user.avatar(32) }}" alt="user_avatar">
                </td>
                <td>
                    {{ user.username }}:
                    <a href="{{ url_for('main.user', username=user.username) }}">
                        Профиль
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}